/**
 * CSS for front-end widget
 */
 
.se_removeSubscription{ float: right;	vertical-align: middle; display: none; cursor: pointer;}
p.se_subscription{ padding: 3px; margin: 1px; }
p.se_subscription:hover{ background: #EEE; border-radius: 3px; }